$dark-brown: #8f7a66;
$board-color: #b9ada0;
$tile-color: #cac1b4;
$display-bg-color: #bbada0;
$display-fg-color: #eadfd3;
$foreground-color: #f9f2e3;
$background-color: #fbf8f0;
$game-tile-fg-color: #000;

$tile-2: #eee4da;
$tile-4: #eee1c9;
$tile-8: #f3b27a;
$tile-16: #f69664;
$tile-32: #f77c5f;
$tile-64: #f75f3b;
$tile-128: #edd073;
$tile-256: #edcc62;
$tile-512: #edc950;
$tile-1024: #edc53f;
$tile-2048: #edc22e;

* {
  font-family: 'Quicksand', sans-serif;
}

body,
html {
  align-items: center;
  background-color: $background-color;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.top-bar {
  align-self: flex-start;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  // background-color: $tile-color;
  width: 100%;
}

.display {
  align-items: center;
  background-color: $display-bg-color;
  border-radius: 3px;
  color: $foreground-color;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin: 5px;
  padding: 2px 20px;
  text-transform: uppercase;

  &.value {
    font-size: 1.5rem;
  }

  &.label {
    color: $display-fg-color;
    font-size: .8rem;
  }
}

.game {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  height: 100%;
  justify-content: center;
  width: 100%;
}

button {
  background-color: transparent;
  border: 0;
}

.start {
  background-color: $dark-brown;
  border-radius: 5px;
}

.start-button {
  color: $foreground-color;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  // font-size: 1.5rem;
  text-transform: uppercase;
}

.game-container {
  display: flex;
  position: relative;
  z-index: 0;
}

.cell-container {
  align-items: center;
  aspect-ratio: 1 / 1;

  background-color: $board-color;
  border-radius: 6px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(4, minmax(100px, 1fr));
  justify-items: center;
  min-width: 50vh;
  padding: 8px;
  z-index: 1;
}

.game-cell {
  aspect-ratio: 1 / 1;
  background: $tile-color;
  border-radius: 4px;
  width: 90%;
}

.tile-container {
  align-items: center;
  aspect-ratio: 1 / 1;

  background-color: transparent;
  border-radius: 6px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(4, minmax(100px, 1fr));
  justify-items: center;
  min-width: 50vh;
  padding: 8px;
  position: absolute;
  z-index: 10;
}

.game-tile {
  align-items: center;
  aspect-ratio: 1 / 1;
  background: transparent;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 90%;
}

.game-tile-text {
  color: $game-tile-fg-color;
  font-size: 2rem;
  font-weight: bold;
}

.tile-2 {
  background-color: $tile-2;
}

.tile-4 {
  background-color: $tile-4;
}

.tile-8 {
  background-color: $tile-8;
}

.tile-16 {
  background-color: $tile-16;
}

.tile-32 {
  background-color: $tile-32;
}

.tile-64 {
  background-color: $tile-64;
}

.tile-128 {
  background-color: $tile-128;
}

.tile-256 {
  background-color: $tile-256;
}

.tile-512 {
  background-color: $tile-512;
}

.tile-1024 {
  background-color: $tile-1024;
}

.tile-2048 {
  background-color: $tile-2048;
}

.slide-3-up {
  animation: slide-3-up .2s linear normal forwards;
}

.slide-3-down {
  animation: slide-3-down .2s linear normal forwards;
}

.slide-3-left {
  animation: slide-3-left .2s linear normal forwards;
}

.slide-3-right {
  animation: slide-3-right .2s linear normal forwards;
}

$animation-offset: (100 * 3 + 5 * 3);

@keyframes slide-3-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-#{$animation-offset}px);
  }
}

@keyframes slide-3-up-merge {
  0% {
    transform: translateY(0) scale(1);
  }

  70% {
    transform: translateY(-#{$animation-offset}px);
  }

  80% {
    transform: translateY(-#{$animation-offset}px) scale(1.1);
  }

  100% {
    transform: translateY(-#{$animation-offset}px) scale(1);
  }
}

@keyframes slide-3-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(#{$animation-offset}px);
  }
}

@keyframes slide-3-down-merge {
  0% {
    transform: translateY(0) scale(1);
  }

  70% {
    transform: translateY(#{$animation-offset}px);
  }

  80% {
    transform: translateY(#{$animation-offset}px) scale(1.1);
  }

  100% {
    transform: translateY(#{$animation-offset}px) scale(1);
  }
}

@keyframes slide-3-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-#{$animation-offset}px);
  }
}

@keyframes slide-3-left-merge {
  0% {
    transform: translateX(0) scale(1);
  }

  70% {
    transform: translateX(-#{$animation-offset}px);
  }

  80% {
    transform: translateX(-#{$animation-offset}px) scale(1.1);
  }

  100% {
    transform: translateX(-#{$animation-offset}px) scale(1);
  }
}

@keyframes slide-3-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(#{$animation-offset}px);
  }
}

@keyframes slide-3-right-merge {
  0% {
    transform: translateX(0) scale(1);
  }

  70% {
    transform: translateX(#{$animation-offset}px);
  }

  80% {
    transform: translateX(#{$animation-offset}px) scale(1.1);
  }

  100% {
    transform: translateX(#{$animation-offset}px) scale(1);
  }
}
